@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* #region CONSTANTS */
:root {
  /* colours */
  --action: #3882f6;
  --blue: #1f2937;
  --grey: #e5e7eb;
  --white: #f9faf8;

  /* sizes */
  --x_small: 6px;
  --small: 12px;
  --normal: 18px;
  --large: 24px;
  --x_large: 36px;
  --xx_large: 48px;
}
/* #endregion */

/* #region RESET */
* {
  /* typography */
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;

  /* box-model */
  margin: 0;
  padding: 0;
}
/* #endregion */

/* #region DEFAULTS */
body {
  /* typography */
  font-family: roboto;
  font-size: var(--normal);
  line-height: calc(1 + 1 / 6);

  /* box-model */
  background-color: var(--blue);
  color: var(--white);
}
/* #endregion */

/* #region MODULAR TYPOGRAPHY */
a {
  color: inherit;
}

h1 {
  font-size: var(--xx_large);
}

h2,
blockquote {
  font-size: var(--x_large);
}

.text.large {
  font-size: var(--large);
}

.text.dark {
  color: var(--blue);
}

.text.low-contrast {
  color: var(--grey);
}

.text.centred {
  text-align: center;
}

.text.bold {
  font-weight: 900;
}

.text.italic {
  font-style: italic;
  font-weight: light;
}
/* #endregion */

/* #region MODULAR BOX-MODEL */
.bg {
  width: 100%;
}

.bg > * {
  margin: 0 auto;
  width: 1024px;
}

.bg.white {
  background-color: var(--white);
  color: var(--blue);
}

.bg.grey {
  background-color: var(--grey);
  color: var(--blue);
}

button {
  background-color: var(--action);
  border: none;
  color: var(--white);
  padding: var(--small) var(--x_large);
}

.rnd-cor {
  border-radius: var(--small);
}

.lrg-vert-pad {
  padding: 100px 0;
}

.border {
  border: var(--action) solid 4px;
}

.border.white {
  border-color: var(--white);
}
/* #endregion */

/* #region MODULAR LAYOUT */
.flex {
  display: flex;
}
/* #endregion */

/* #region NAV */
#nav {
  /* box model */
  padding: var(--normal) 0;

  /* layout */
  align-items: center;
  justify-content: space-between;
}

#nav ul {
  /* layout */
  gap: var(--large);
}
/* #endregion */

/* #region HERO */
#hero {
  /* layout */
  align-items: center;
  gap: var(--xx_large);
  justify-content: space-between;
}

#hero .text-container {
  /* box model */
  padding: var(--x_small) 0;

  /* layout */
  flex-basis: 450px;
}

#hero p {
  /* box model */
  margin-bottom: var(--small);
}
/* #endregion */

/* #region INFO */
#info {
  /* box model */
  padding-bottom: 100px;
}

#info h2 {
  /* box model */
  padding: var(--xx_large) 0;
}

#info .card-container {
  /* layout */
  gap: var(--xx_large);
  justify-content: center;
}

#info .card {
  /* box model */
  width: 161px;
}

#info .img {
  /* box model */
  aspect-ratio: 1 / 1;
  margin-bottom: var(--small);
}
/* #endregion */

/* #region QUOTE */
#quote {
  /* box model */
  padding-left: 100px;
}

#quote blockquote {
  /* box model */
  margin-right: var(--x_large);
  width: 800px;
}

#quote .attribution {
  /* typography */
  text-align: right;

  /* box model */
  margin-right: var(--xx_large);
}
/* #endregion */

/* #region ACTION */
#action .banner {
  /* box model */
  background-color: var(--action);
  color: var(--white);
  padding: var(--xx_large) 0;

  /* layout */
  align-items: center;
  justify-content: space-around;
}
/* #endregion */

/* #region FOOTER */
footer {
  padding: var(--xx_large) 0;
}
/* #endregion */
